@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nunito:ital,wght@0,200;0,400;0,600;0,900;1,200;1,400;1,600;1,900&display=swap');

:root {
    /* colors */
    --sand: #FFEBE0;
    --canarianGreen: #00A017;
    --canarianBlue: #0F45AE;
    --contentFontColor: #2B0008;
    
    /* settings */
    --sVPmargin: .25rem;
    --sVPVmargin: var(--sVPmargin) 0;
    --sVPHmargin: 0 calc(var(--sVPmargin) * 2);
    --sVPgap: .125rem;
    --sVPtitleFontSize: 2.25rem;

    --mVPmargin: calc(var(--sVPmargin) * 4) calc(var(--sVPmargin) * 2 + var(--sVPmargin)) calc(var(--sVPmargin) * 4) calc(var(--sVPmargin) * 2);
    --mVPgap: calc(var(--sVPgap) * 5);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    color: var(--contentFontColor);
    background-color: var(--sand);
    padding: 0;
    margin: 0;
}

body > * {
    font-size: 1.2rem;
}

#pageWrapper {
    max-width: 82rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kaushan Script', cursive;
    color: var(--canarianGreen);
    margin: 0;
}

h2 {
    font-size: var(--sVPtitleFontSize);
}

p {
    margin: var(--sVPVmargin);
}

#pageHeader {
    background-color: var(--canarianGreen);
    padding: var(--sVPHmargin);
}

#pageHeader h1 {
    font-size: var(--sVPtitleFontSize);
    text-align: center;
    color: var(--canarianBlue);
}

#pageHeader p {
    font-size: .8rem;
    color: lightgray;
}

#pageNav {
    display: block;
    position: sticky;
    top: 0;
    background-color: var(--sand);
    padding: var(--sVPVmargin);
    border-bottom: solid var(--sVPmargin) var(--canarianBlue);
}

#pageNav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: var(--sVPgap);
    padding: var(--sVPHmargin);
    margin: 1rem 0;
}

#pageNav li {
    display: block;
}

.pageNavLink {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 900;
    color: white;
    background-color: var(--canarianBlue);
    padding: .5rem;
    border-bottom-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

main {
    padding: var(--sVPHmargin);
}

figure {
    margin: 0;
}

figcaption {
    font-family: 'Kaushan Script', cursive;
    font-size: 1rem;
}

main img {
    width: 100%;
    max-width: 500px;
    border-bottom-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

@media screen and (min-width: 38em) {
    #pageWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: var(--mVPgap);
    }

    h2 {
        font-size: clamp(var(--sVPtitleFontSize), 5vw, 5.5rem);
        margin-bottom: .5em;
    }

    #pageHeader {
        width: 100%;
    }

    #pageHeader h1 {
        font-size: clamp(4rem, 10vw, 6rem);
    }

    #pageNav {
        width: 20%;
        border-bottom: none;
        border-right: solid var(--sVPmargin) var(--canarianBlue);
    }

    #pageNav ul {
        position: sticky;
        top: 0;
        flex-direction: column;
        gap: var(--mVPgap);
        padding: var(--mVPmargin);
    }

    main {
        flex: 1;
    }

    figure {
        float: left;
        margin: 0 1rem 0 0;
    }    
}

@media screen and (min-width: 83em) {
    #pageWrapper {
        margin: 0 auto;
    }

    .pageNavLink {
        transition: color 250ms ease-in-out;
    }

    .pageNavLink:hover {
        color: var(--canarianGreen);
    }
}