@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nunito:ital,wght@0,200;0,400;0,600;0,900;1,200;1,400;1,600;1,900&display=swap');

:root {
    /* colors */
    --sand: #FFEBE0;
    --canarianGreen: #00A017;
    --canarianBlue: #0F45AE;
    --contentFontColor: #2B0008;
    
    /* settings */
    --borderR: 1rem;
    --borderPattern: 0 var(--borderR) 0 var(--borderR);

    --sVPmargin: .25rem;
    --sVPVmargin: var(--sVPmargin) 0;
    --sVPHmargin: 0 calc(var(--sVPmargin) * 2);
    --sVPgap: .125rem;
    --sVPtitleFontSize: 2.25rem;

    --mVPmargin: calc(var(--sVPmargin) * 4) calc(var(--sVPmargin) * 2 + var(--sVPmargin)) calc(var(--sVPmargin) * 4) calc(var(--sVPmargin) * 2);
    --mVPgap: calc(var(--sVPgap) * 5);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    color: var(--contentFontColor);
    background-color: var(--sand);
    padding: 0;
    margin: 0;
}

body > * {
    font-size: 1.2rem;
}

#pageWrapper {
    max-width: 192rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kaushan Script', cursive;
    color: var(--canarianGreen);
    margin: 0;
}

h2 {
    font-size: var(--sVPtitleFontSize);
}

h3 {
    font-size: calc(var(--sVPtitleFontSize) * .85);
}

p {
    font-size: 1.4rem;
    line-height: 1.25em;
    margin: var(--sVPVmargin);
}

#pageHeader {
    background-color: var(--canarianGreen);
    padding: var(--sVPHmargin);
}

#pageHeader h1 {
    font-size: var(--sVPtitleFontSize);
    text-align: center;
    text-shadow: .05em .05em white;
    color: var(--canarianBlue);
}

#pageHeader p {
    font-size: .8rem;
    color: lightgray;
}

#pageNav {
    display: block;
    position: sticky;
    top: 0;
    background-color: var(--sand);
    padding: var(--sVPVmargin);
    border-bottom: solid var(--sVPmargin) var(--canarianBlue);
}

#pageNav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: var(--sVPgap);
    padding: var(--sVPHmargin);
    margin: 1rem 0;
}

#pageNav li {
    position: relative;
    display: block;
    border: solid calc(var(--sVPmargin) / 2) var(--canarianBlue);
    border-radius: var(--borderPattern);
    overflow: hidden;
}

.nlbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--canarianBlue);
    transform: translateX(-100%);
    transition: transform 250ms ease-in-out;
    z-index: -1;
}

.pageNavLink {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 900;
    font-style: italic;
    color: var(--contentFontColor);
    padding: .275rem;
}

main {
    padding: var(--sVPHmargin);
}

.mainSection {
    padding-top: 4.5rem;
    margin-bottom: 2rem;
}

figure {
    margin: 0;
}

figcaption {
    font-family: 'Kaushan Script', cursive;
    font-size: 1rem;
}

main img {
    width: 100%;
    max-width: 500px;
    border-radius: var(--borderPattern);
}

#locations .seCont {
    display: flex;
    flex-direction: column;
    gap: var(--mVPgap);
}

.secArt {
    color: var(--sand);
    background-color: var(--contentFontColor);
    padding: var(--mVPmargin);
    border: solid var(--sVPmargin) var(--canarianGreen);
    border-radius: var(--borderPattern);
}

#artContainer {
    margin: 2rem 0;
}

@media screen and (min-width: 38em) {
    #pageWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: var(--mVPgap);
    }

    h2 {
        font-size: clamp(var(--sVPtitleFontSize), 5vw, 5.5rem);
        margin-bottom: .5em;
    }

    h3 {
        font-size: clamp(calc(var(--sVPtitleFontSize) * .85), 4vw, 3rem);
        margin-bottom: .5em;
    }

    p {
        font-size: clamp(1.4rem, 1.8vw, 1.8rem);
        line-height: 1.5em;
    }

    #pageHeader {
        width: 100%;
        min-height: 20vw;
        background: url(/img/LanzaroteBanner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    #pageHeader h1 {
        font-size: clamp(4rem, 10vw, 8rem);
    }

    #pageNav {
        width: 20%;
        border-bottom: none;
    }

    #pageNav ul {
        position: sticky;
        top: 0;
        flex-direction: column;
        gap: var(--mVPgap);
        padding: var(--mVPmargin);
    }

    .pageNavLink {
        font-size: clamp(1rem, 1.8vw, 1.8rem);
        padding: .5rem;
    }

    main {
        flex: 1;
    }

    .mainSection {
        padding-top: 0;
        margin-bottom: 4rem;
    }

    figure {
        float: left;
        margin: 0 1rem 0 0;
    }
    
    #locations .seCont {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: var(--mVPgap);
    }

    .secArt {
        flex: 1 0 25rem;
    }

    #locations .seCont > .contTxt {
        width: 100%;
    }

}

@media screen and (min-width: 83em) {
    #pageWrapper {
        margin: 0 auto;
    }

    #pageHeader {
        height: clamp(5rem, 20vw, 20rem);
        min-height: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #pageHeader p {
        align-self: flex-start;
    }

    #pageNav {
        width: 15%;
    }

    .pageNavLink {
        transition: color 250ms ease-in-out;
    }

    #pageNav li:hover .pageNavLink {
        color: white;
    }

    #pageNav li:hover .nlbg {
        transform: translateX(0);
    }

    .artContent figure {
        max-width: 50%;
        float: left;
    }

    .seCont {
        max-width: 50%;
        margin: 0 auto;
    }

    #artContainer {
        max-width: 100%;
        width: 100%;
    }
}